html,body {
   min-height: 100vh;
}
.creations-main {
   width: 1050px;
   max-width: 100vw;
   margin: auto;
   padding-top: 50px;
}

.backlink {
   text-decoration: none;
   color: black;
}

.turnbackArrow {
   height: 12px;
   float: left;
   position: relative;
   top: 3px;
   margin-right: 5px;

}

.look {
   width: 100%;
   min-height: 600px;
}