---
---
body {
   font-size: 100%;
}

.backlink {
   position: absolute;
   top: 10px;
   left: 10px;
}

.creations-main {
   width: 1050px;
   max-width: 100vw;
   margin: auto;
   margin-top: 50px;
}

img {
   width: 100%;
   max-width: 100%;
   max-width: 100vw;
}