---
layout: skeleton
---

{% assign homeData = site.data.homepage %}

<section class="section-presentation">
   <div class="infos-presentations">
      <h1>{{ homeData.titre-principal }}</h1>
      <h2 class="subtitle">{{ homeData.sous-titre }}</h2>
      <p>{{ homeData.introduction }}</p>
   </div>
   <figure class="presentation-figure">
      <img src="/assets/img/undraw_developer_activity.svg" alt="Illustration d'un developpeur entrain de travailler">
      <figcaption>
         undraw.co
      </figcaption>
   </figure>
</section>

<section class="section-services">
   <div class="services-questions-wrapper">
      {% for question in homeData.services-questions %}
      <p class="services-questions">{{ question.question }}</p>
      {% endfor %}
   </div>
   <div class="services-description">
      <h2>{{ homeData.service-titre }}</h2>
      <p> {{ homeData.service-description }} </p>
   </div>
</section>

<section class="section-creations">
   <h2>{{ homeData.creations-titre }}</h2>
   {% for creation in site.creations %}
   <div class="a_creation">
      <div class="creation-img" style="background-image: url({{ creation.url-img-preview }})"></div>
      <div class="creation-description">
         <h3>{{ creation.title }}</h3>
         <p>{{ creation.description }}</p>
         <a class="creation-link" href="{{ creation.url }}">En savoir plus</a>
      </div>
   </div>
   {% endfor %}
</section>

<section class="section-frequent_questions">
   <h2>{{ homeData.question-titre }}</h2>
   <h4 class="title-details">{{ homeData.question-sous-titre }}</h4>

   {% for item in homeData.questions-reponses %}
   <div class="l-question">
      <div>
         {{ item.question }}
         <img class="bubble-feet-l" src="/assets/img/bubble-feet.png" alt="">
      </div>
   </div>
   <div class="r-answer">
      <div>
         {{ item.reponse }}
         <img class="bubble-feet-r" src="/assets/img/bubble-feet.png" alt="">
      </div>
   </div>
   {% endfor %}

</section>

<section class="section-contact">
   <h2>{{ homeData.contact-titre }}</h2>
   <div class="contact_wrapper">
      <a href="mailto:{{homeData.contact-mel}}" class="mail-button">Directement par mél : <br> {{homeData.contact-mel}}</a>
      <div class="separator">
         <hr class="verticale">
         <p>ou</p>
         <hr class="verticale">
      </div>
      <form class="contact_form" method="POST" action="https://formspree.io/{{homeData.contact-mel}}">
         <input type="email" name="email" placeholder="Votre adresse mél">
         <textarea name="message" placeholder="Votre message"></textarea>
         <button type="submit">Envoyer</button>
      </form>
   </div>
</section>