<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,900" rel="stylesheet">
   <link rel="stylesheet" href="/assets/style/normalize.css">
   <link rel="stylesheet" href="/assets/style/style.css">
   {% if page.optionnal-style %}
   <link rel="stylesheet" href="{{page.optionnal-style}}">
   {% endif %}
   <title>Mathis - Web Artisan | {{page.title}}</title>
</head>
<body>
   {{content}}
</body>
</html>